@media (hover:hover) {
    .header__register:hover {
        color: var(--color-orange);

        svg path {
            fill: var(--color-orange);
        }
    }

    .footer__link:hover {
        color: var(--color-orange);
    }

    .btn:hover{
        transform: scale(0.965);
    }
    .btn_orange:hover{
        background: #ffffff;
        color: #F53C04 !important;
        -webkit-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease;
        -webkit-transform: scale(0.965);
        -ms-transform: scale(0.965);
        transform: scale(0.965);
    }
    .slider-big-pagination .swiper-pagination-bullet:hover,
    .masters-slider-min-pagination .swiper-pagination-bullet,
    .works-slider-min .works-slider-min-pagination .swiper-pagination-bullet:hover {
        background: var(--color-orange);
    }
}