:root {
    --container-width: 1712px;
    
    --font-family-mont: "Montserrat", sans-serif;
    --font-family-inter: "Inter", sans-serif;
    --font-family-jura: "Jura", sans-serif;

    --fill: #1C1C1C;
    --color-green: #3AB738;
    --color-orange: #FB8408;
    --color-dark-orange: #F53C04;
    --color-blue: #3384F0;
    --color-red: #FF2E47;

    --radius: 8px;

    --transition-color: color 300ms ease;
    --transition-all: all 300ms ease;
    --transition-bg: background 300ms ease;
}